<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\style.css">
</head>
    
<body>
    <div class="hero">
        <div class="navbar" style="padding-left: 30%;font-size: larger;">
            
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/login">Sign Up</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </div>
        <div class="content">
            <h1 style="font-size: 100px;">Smart Finance</h1>
            <p>Your Budget Buddy</p>
            <div class="login">
                <h1></h1>
            <div>
                <button type="button" href="/login"><span></span>Login</button>
                <button type="button" href="/login"><span></span>SignUp</button>
            </div>
            </div>
        </div>


    </div>

    <div class="aboutme">
        <div>
            <div id="realbox1">About Me</div>
            
            <div id="box1">  
                
                 <p>Welcome to SmartFinance—your personal
                       financial assistant. We help you track 
                       spending, create budgets, and set savings 
                        goals to take control of your money. Our 
                        easy-to-use platform provides personalized
                        tools and insights to help you manage your
                        finances and make informed decisions. 
                        Whether you're saving for a goal or 
                        trying to stick to a budget, SmartFinance 
                        is here to guide you every step of the way.
                        Start managing your finances smarter today!
                 </p>
                
            </div>
        </div>

    </div>
    <div class="features">
        <div class="servicehead">Services</div>
        <div id="featurebox1">Saves Your Money
            <div id="he1">Our app lets you save your Hard Earned Money....And keep better track of it.</div>
            <div id="he2"></div>
            <div id="he3"></div>
            <div id="he4"></div>
        </div>
        <div id="featurebox2">Teaches Finance
            <div id="he2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quisquam eius iure repellendus nisi. Eos mollitia tenetur fuga. Vitae doloribus quasi laborum officia reiciendis suscipit odit sint unde odio. Ullam.</div>
            <div id="he2"></div>
            <div id="he3"></div>
            <div id="he4"></div>
        </div>
    </div>
    
</body>
</html>